<a href="https://colab.research.google.com/github/Aniketh-GHub/Supervised-Learning-Projects/blob/main/German_KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [3]:
#load dataset
df = pd.read_csv("/content/Top_12_German_Companies NEW.csv")

In [4]:
df.head(5)

,Company,Period,Revenue,Net Income,Liabilities,Assets,Equity,ROA (%),ROE (%),Debt to Equity,percentage Debt to Equity
0,Volkswagen AG,12/31/2017,9750496618,5.168898e+08,21354201295,54861302788,33507101493,942.175.618,1.542.627.668,637.303.746,"0,00%"
1,Siemens AG,12/31/2017,19716237464,1.276840e+09,45009303223,75268101508,30258798286,1.696.389.282,4.219.731.382,1.487.478.214,"283,68%"
2,Allianz SE,12/31/2017,19458831198,1.600107e+09,48538978480,69583711255,21044732775,2.299.542.624,7.603.361.452,2.306.466.848,"329,65%"
3,BMW AG,12/31/2017,18808147150,9.601843e+08,35382107627,67327482638,31945375011,142.614.028,3.005.706.927,1.107.581.539,"0,00%"
4,BASF SE,12/31/2017,16895580815,1.797082e+09,28309420014,68036567115,39727147101,2.641.347.127,4.523.561.449,71.259.635,"634,80%"

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384 entries, 0 to 383
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Company                     384 non-null    object
 1   Period                      384 non-null    object
 2   Revenue                     384 non-null    int64
 3   Net Income                  384 non-null    float64
 4   Liabilities                 384 non-null    int64
 5   Assets                      384 non-null    int64
 6   Equity                      384 non-null    int64
 7   ROA (%)                     384 non-null    object
 8   ROE (%)                     384 non-null    object
 9   Debt to Equity              384 non-null    object
 10  percentage  Debt to Equity  384 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 33.1+ KB

In [6]:
df.shape

(384, 11)

In [7]:
df.isna().sum()

Company                       0
Period                        0
Revenue                       0
Net Income                    0
Liabilities                   0
Assets                        0
Equity                        0
ROA (%)                       0
ROE (%)                       0
Debt to Equity                0
percentage  Debt to Equity    0
dtype: int64

In [12]:
print(df['Company'].nunique())

12

In [13]:
df.Company

0         Volkswagen AG
1            Siemens AG
2            Allianz SE
3                BMW AG
4               BASF SE
             ...
379              SAP SE
380            Bayer AG
381    Deutsche Bank AG
382          Porsche AG
383          Merck KGaA
Name: Company, Length: 384, dtype: object

In [14]:
X = df.iloc[:, 0:8]
y = df.iloc[:, 8]

xtr, xte, ytr, yte = train_test_split(X, y, test_size=0.2, random_state=4)

In [15]:
# Apply one-hot encoding to categorical columns in both training and test data
xtr = pd.get_dummies(xtr, drop_first=True)
xte = pd.get_dummies(xte, drop_first=True)

In [16]:
sc = StandardScaler()

xtr = sc.fit_transform(xtr)
xte = sc.fit_transform(xte)

In [17]:
clf = KNeighborsClassifier(n_neighbors=11, p=2, metric='euclidean') #p=2 Power parameter for Eulidean

In [18]:
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [19]:
print(ytr.unique())  # Check unique values in the target variable

['1.035.729.888' '8.742.689.833' '1.408.175.192' '1.238.972.765'
 '1.848.461.778' '432.013.901' '3.591.674.104' '394.654.017'
 '4.568.995.147' '5.564.977.554' '1.467.839.648' '3.831.426.362'
 '5.793.180.392' '242.339.033' '1.214.762.087' '3.756.860.897'
 '4.966.936.173' '7.380.761.688' '2.238.613.108' '5.554.138.164'
 '6.233.235.581' '5.591.341.126' '2.723.034.669' '2.964.215.974'
 '1.785.460.959' '1.544.389.137' '4.258.010.455' '5.830.801.675'
 '8.696.071.832' '2.802.991.363' '3.488.151.213' '6.580.069.753'
 '8.101.566.983' '1.591.493.194' '1.107.885.775' '3.417.899.175'
 '3.318.158.603' '1.792.832.278' '3.555.558.796' '6.023.911.425'
 '2.576.249.974' '2.372.677.959' '2.394.218.258' '3.091.346.389'
 '2.159.321.139' '4.329.135.364' '1.903.736.072' '4.858.168.628'
 '2.127.540.375' '1.871.055.599' '2.770.147.673' '244.813.252'
 '4.942.548.334' '1.102.431.133' '10.929.103' '1.970.253.612'
 '1.757.531.297' '4.435.335.874' '3.293.379.129' '6.733.096.979'
 '5.712.549.489' '7.901.740.276' '3.922.248.606' '8.060.092.903'
 '2.662.116.553' '1.340.791.676' '7.642.560.842' '3.678.270.163'
 '110.168.192' '5.408.911.286' '5.090.356.727' '7.681.881.582'
 '1.785.222.349' '6.252.567.113' '1.793.294.983' '6.475.053.201'
 '1.586.396.995' '3.047.917.184' '229.299.295' '8.661.137.359'
 '803.543.419' '1.164.364.427' '1.214.289.959' '2.899.266.055'
 '2.799.148.399' '5.375.979.415' '3.690.844.131' '2.430.021.133'
 '1.017.961.668' '1.686.694.928' '1.134.192.402' '4.158.736.606'
 '8.867.026.743' '2.049.457.806' '2.394.614.037' '299.146.809'
 '1.915.704.136' '1.620.624.209' '6.679.450.762' '2.603.686.398'
 '2.481.879.251' '3.992.191.823' '4.682.664.881' '5.111.033.662'
 '6.718.516.763' '2.829.635.264' '1.105.966.423' '5.634.655.366'
 '3.108.305.926' '2.111.917.274' '1.603.837.566' '3.155.698.855'
 '7.135.300.541' '3.255.841.341' '1.552.190.472' '5.478.340.957'
 '3.441.569.472' '4.049.668.237' '3.333.229.664' '4.732.148.895'
 '1.962.402.565' '1.152.554.935' '2.647.488.561' '6.104.721.296'
 '2.334.564.784' '5.382.411.109' '2.736.986.092' '247.926.785'
 '2.097.741.665' '7.100.255.712' '2.421.859.412' '3.647.844.912'
 '5.420.580.804' '4.976.466.345' '9.607.657.241' '6.540.535.831'
 '3.052.121.825' '4.523.561.449' '697.480.754' '3.466.140.986'
 '3.970.025.873' '2.741.982.831' '736.540.937' '3.491.021.304'
 '3.601.428.805' '3.502.651.951' '1.995.992.663' '3.032.372.908'
 '1.340.939.753' '4.814.757.986' '1.174.647.036' '1.519.179.847'
 '1.539.675.009' '4.010.187.943' '1.441.471.709' '3.640.462.175'
 '8.305.270.255' '673.619.102' '6.973.754.044' '5.314.962.029'
 '7.603.361.452' '8.550.802.927' '2.285.943.174' '4.415.153.442'
 '2.218.781.604' '7.893.783.146' '933.416.709' '4.852.330.833'
 '2.297.972.203' '5.643.660.732' '2.514.863.985' '6.546.439.648'
 '5.429.849.634' '467.824.105' '2.458.284.833' '2.745.199.612'
 '6.659.132.662' '5.182.246.312' '1.435.615.681' '6.658.115.576'
 '2.626.586.423' '3.165.063.935' '1.653.793.789' '5.156.941.487'
 '1.023.636.862' '2.547.088.331' '2.513.720.704' '1.962.984.363'
 '1.256.610.918' '6.907.091.429' '2.294.673.732' '314.982.347'
 '47.691.775' '5.089.303.273' '1.199.413.642' '2.890.594.752'
 '4.084.242.325' '1.059.498.291' '1.951.672.446' '2.399.929.435'
 '695.486.349' '4.430.601.873' '3.676.763.352' '1.982.810.372'
 '2.052.456.487' '2.273.453.267' '5.431.145.154' '3.513.627.863'
 '1.151.232.256' '3.041.609.365' '2.125.450.338' '4.847.088.752'
 '3.906.293.451' '1.438.156.209' '3.337.957.748' '6.602.513.558'
 '4.669.055.214' '9.827.624.651' '3.089.991.707' '4.657.851.806'
 '1.678.395.737' '9.237.712.947' '658.512.162' '5.769.681.015'
 '3.470.408.021' '429.978.286' '2.285.851.252' '2.485.223.313'
 '1.473.412.533' '3.686.851.292' '1.330.905.572' '6.444.361.101'
 '1.306.616.103' '1.117.698.882' '1.479.558.505' '6.277.933.363'
 '2.620.195.442' '3.647.121.064' '3.918.791.148' '355.394.994'
 '2.099.212.299' '664.400.246' '5.027.156.913' '1.329.471.751'
 '4.796.642.602' '287.959.592' '6.134.241.097' '6.000.348.063'
 '125.152.581' '3.515.094.384' '7.381.839.743' '4.934.160.121'
 '1.011.202.747' '3.693.951.181' '3.222.235.121' '1.591.680.705'
 '4.398.750.824' '1.733.691.877' '5.254.965.841' '1.563.790.571'
 '1.281.224.531' '4.190.873.579' '2.301.374.609' '5.223.074.426'
 '4.872.164.475' '455.291.232' '6.989.379.684' '3.989.255.027'
 '342.055.243' '3.005.706.927' '1.142.480.264' '1.556.467.607'
 '1.052.068.959' '8.011.078.402' '3.275.951.543' '3.878.039.728'
 '1.570.469.484' '5.049.488.923' '2.456.557.854' '9.878.142.355'
 '2.562.407.917' '1.440.353.472' '7.872.745.579' '6.578.514.343'
 '1.752.930.131' '6.847.160.844' '4.393.440.901' '1.542.627.668'
 '6.439.124.871' '3.077.706.922' '1.854.702.549' '2.807.384.243'
 '3.275.671.979' '3.928.964.508' '3.920.787.444' '3.366.149.685'
 '519.836.237' '45.603.762' '3.523.522.556' '7.808.530.977'
 '5.376.818.307' '5.237.751.129' '2.511.939.811' '965.607.245'
 '2.801.230.321' '4.809.208.781' '4.377.335.663']

In [20]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
X = pd.get_dummies(X)
knn_model = KNeighborsClassifier(n_neighbors=5)
knn_model.fit(X, y)
predictions = knn_model.predict(X)

In [24]:
knn_pred = knn_model.predict(X)

accuracy = accuracy_score(y, knn_pred)
print(f'Accuracy Score: {accuracy:.4f}')
print(y, knn_pred)
print(confusion_matrix(y, knn_pred))

Accuracy Score: 0.1875
0      1.542.627.668
1      4.219.731.382
2      7.603.361.452
3      3.005.706.927
4      4.523.561.449
           ...
379    2.770.147.673
380    3.928.964.508
381    1.522.111.161
382    2.562.407.917
383    5.908.477.575
Name: ROE (%), Length: 384, dtype: object ['1.542.627.668' '2.801.230.321' '1.151.232.256' '3.005.706.927'
 '4.523.561.449' '4.398.750.824' '241.703.425' '2.547.088.331'
 '1.479.558.505' '1.733.691.877' '1.570.469.484' '3.392.692.186'
 '3.970.025.873' '1.340.791.676' '2.723.034.669' '1.467.839.648'
 '3.318.158.603' '3.693.951.181' '1.102.431.133' '1.519.179.847'
 '467.824.105' '2.127.540.375' '1.467.839.648' '1.911.825.448'
 '1.563.790.571' '3.392.692.186' '4.976.466.345' '2.741.982.831'
 '3.640.462.175' '2.218.781.604' '1.117.698.882' '1.039.744.685'
 '4.669.055.214' '2.723.034.669' '3.693.951.181' '3.922.248.606'
 '1.329.471.751' '4.852.330.833' '2.741.982.831' '3.992.191.823'
 '1.059.498.291' '2.285.851.252' '1.039.744.685' '247.926.785'
 '2.603.686.398' '2.799.148.399' '1.556.467.607' '2.127.540.375'
 '3.831.426.362' '4.317.089.577' '1.871.055.599' '3.591.674.104'
 '2.394.218.258' '2.301.374.609' '2.826.848.759' '3.392.692.186'
 '1.031.281.228' '1.306.616.103' '3.831.426.362' '3.831.426.362'
 '1.238.972.765' '1.889.195.957' '4.796.642.602' '1.035.729.888'
 '1.169.939.253' '1.591.493.194' '3.523.522.556' '6.546.439.648'
 '6.546.439.648' '1.329.471.751' '1.117.698.882' '1.340.791.676'
 '1.889.195.957' '1.281.224.531' '1.911.825.448' '1.306.616.103'
 '1.962.402.565' '3.392.692.186' '1.473.412.533' '2.097.741.665'
 '1.152.554.935' '1.570.469.484' '4.317.089.577' '1.102.431.133'
 '1.169.939.253' '1.329.471.751' '3.513.627.863' '1.792.832.278'
 '1.653.793.789' '1.214.762.087' '2.801.230.321' '1.970.253.612'
 '1.059.498.291' '3.591.674.104' '3.333.229.664' '3.640.462.175'
 '3.956.559.082' '3.470.408.021' '3.831.426.362' '1.889.195.957'
 '3.293.379.129' '3.293.379.129' '2.455.055.637' '1.164.364.427'
 '2.807.384.243' '2.218.781.604' '1.472.936.567' '2.099.212.299'
 '1.152.554.935' '2.770.147.673' '3.005.706.927' '1.017.961.668'
 '1.440.353.472' '2.547.088.331' '4.178.789.781' '1.102.431.133'
 '2.626.586.423' '1.134.192.402' '2.603.686.398' '2.468.686.517'
 '241.703.425' '1.686.694.928' '3.756.860.897' '2.095.415.424'
 '2.647.488.561' '1.970.253.612' '1.542.627.668' '1.435.615.681'
 '2.294.673.732' '3.831.426.362' '3.601.428.805' '125.152.581'
 '1.134.192.402' '241.703.425' '1.848.461.778' '1.591.680.705'
 '1.039.744.685' '1.915.704.136' '1.214.762.087' '1.441.471.709'
 '1.556.467.607' '1.519.179.847' '2.455.055.637' '2.547.088.331'
 '3.005.706.927' '342.055.243' '2.127.540.375' '3.319.170.671'
 '1.542.627.668' '1.238.972.765' '1.152.554.935' '1.733.691.877'
 '4.317.089.577' '1.105.966.423' '1.052.068.959' '2.799.148.399'
 '1.142.480.264' '1.792.832.278' '1.169.939.253' '3.466.140.986'
 '1.052.068.959' '1.052.068.959' '1.653.793.789' '3.693.951.181'
 '1.472.936.567' '2.547.088.331' '3.831.426.362' '1.467.839.648'
 '1.911.825.448' '2.481.879.251' '1.011.202.747' '1.151.232.256'
 '1.686.694.928' '1.023.636.862' '1.134.192.402' '3.678.270.163'
 '3.591.674.104' '1.752.930.131' '1.871.055.599' '1.102.431.133'
 '1.281.224.531' '2.394.218.258' '2.603.686.398' '2.095.415.424'
 '2.829.635.264' '2.801.230.321' '1.214.289.959' '1.519.179.847'
 '1.281.224.531' '3.970.025.873' '3.693.951.181' '1.915.704.136'
 '2.511.939.811' '1.441.471.709' '1.117.698.882' '1.105.966.423'
 '2.394.218.258' '2.620.195.442' '1.281.224.531' '242.339.033'
 '1.281.224.531' '2.394.218.258' '3.605.184.677' '3.417.899.175'
 '1.017.961.668' '1.995.992.663' '1.542.627.668' '3.470.408.021'
 '1.962.402.565' '1.542.627.668' '3.293.379.129' '2.127.540.375'
 '4.796.642.602' '2.099.212.299' '1.039.744.685' '1.059.498.291'
 '3.513.627.863' '3.513.627.863' '2.745.199.612' '4.317.089.577'
 '1.542.627.668' '2.745.199.612' '1.329.471.751' '2.799.148.399'
 '2.799.148.399' '1.871.055.599' '1.556.467.607' '4.976.466.345'
 '1.052.068.959' '242.339.033' '405.798.401' '1.214.762.087'
 '1.329.471.751' '2.741.982.831' '2.620.195.442' '1.117.698.882'
 '3.831.426.362' '405.798.401' '2.125.450.338' '355.394.994'
 '1.238.972.765' '2.626.586.423' '4.852.330.833' '1.169.939.253'
 '467.824.105' '2.127.540.375' '2.620.195.442' '1.519.179.847'
 '2.741.982.831' '1.017.961.668' '2.620.195.442' '2.829.635.264'
 '2.723.034.669' '1.214.289.959' '1.017.961.668' '1.542.627.668'
 '1.142.480.264' '1.903.736.072' '1.915.704.136' '1.023.636.862'
 '1.017.961.668' '2.801.230.321' '1.039.744.685' '3.005.706.927'
 '1.591.680.705' '1.152.554.935' '2.626.586.423' '1.102.431.133'
 '1.105.966.423' '1.871.055.599' '1.903.736.072' '1.237.227.923'
 '1.237.227.923' '1.686.694.928' '1.102.431.133' '4.809.208.781'
 '1.238.972.765' '1.035.729.888' '1.542.627.668' '2.829.635.264'
 '3.756.860.897' '1.107.885.775' '3.523.522.556' '1.792.832.278'
 '2.723.034.669' '2.723.034.669' '3.466.140.986' '241.703.425'
 '1.556.467.607' '3.513.627.863' '1.591.493.194' '2.603.686.398'
 '2.745.199.612' '1.169.939.253' '1.752.930.131' '1.152.554.935'
 '2.430.021.133' '4.852.330.833' '1.752.930.131' '1.107.885.775'
 '1.105.966.423' '1.107.885.775' '1.467.839.648' '1.903.736.072'
 '1.169.939.253' '1.238.972.765' '1.117.698.882' '242.339.033'
 '1.035.729.888' '2.603.686.398' '1.970.253.612' '1.970.253.612'
 '1.117.698.882' '2.799.148.399' '1.962.402.565' '1.117.698.882'
 '2.099.212.299' '1.854.702.549' '3.523.522.556' '3.275.671.979'
 '1.653.793.789' '242.339.033' '1.306.616.103' '1.107.885.775'
 '1.340.791.676' '2.455.055.637' '3.591.674.104' '1.017.961.668'
 '2.662.116.553' '1.152.554.935' '1.011.202.747' '3.678.270.163'
 '2.099.212.299' '1.903.736.072' '1.871.055.599' '1.472.936.567'
 '2.723.034.669' '3.678.270.163' '2.481.879.251' '4.796.642.602'
 '1.039.744.685' '2.297.972.203' '1.102.431.133' '2.964.215.974'
 '1.653.793.789' '1.653.793.789' '2.626.586.423' '2.095.415.424'
 '242.339.033' '1.911.825.448' '241.703.425' '1.107.885.775'
 '1.903.736.072' '1.889.195.957' '1.152.554.935' '1.011.202.747'
 '2.620.195.442' '2.890.594.752' '2.099.212.299' '3.523.522.556'
 '1.169.939.253' '2.159.321.139' '1.479.558.505' '1.105.966.423'
 '1.017.961.668' '1.052.068.959' '1.031.281.228' '3.466.140.986'
 '2.620.195.442' '1.214.762.087' '2.095.415.424' '2.468.686.517'
 '2.455.055.637' '1.793.294.983' '1.151.232.256' '3.005.706.927'
 '1.134.192.402' '1.473.412.533' '2.394.218.258' '2.394.614.037'
 '2.723.034.669' '1.151.232.256' '2.095.415.424' '4.377.335.663']
[[1 0 0 ... 0 0 0]
 [0 1 0 ... 0 0 0]
 [0 0 1 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 1 0 ... 0 0 0]]